/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: #333;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #babecc, -20px -20px 60px #ffffff;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.login-form h2 {
    font-size: 1.5em;
    color: #333;
}

.login-form input,
.login-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    outline: none;
}

.login-form input {
    background-color: #ecf0f3;
    box-shadow: inset 6px 6px 12px #c8d0e7, inset -6px -6px 12px #ffffff;
}

.login-form button {
    background: #6c63ff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.login-form button:hover {
    background: #5b53e0;
}

.social-login button {
    background: #f3f4f6;
    color: #333;
    margin-top: 10px;
    box-shadow: 4px 4px 8px #babecc, -4px -4px 8px #ffffff;
}

.fa-google{
    margin-right: 10px;
}
.fa-microsoft{
    margin-right: 10px;
}
